<body>
  <div class="container">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-4" style = "font-family: "helvetica">Teriyaki Hub </h1>
            <p class="lead"> Seattle's Only Destination for Teriyaki Rankings and Reviews</p>
            </div>
    </div>

    <h1>Seattle Teriyaki Joints</h1>

    <% for event in @events %>
        <p><a href="/events/<%= event[:id] %>"><%= event[:event_name] %></a></p>
    <% end %>
</body>