body {
    font-family: 'Segoe UI'
}

.jumbotron {
    background-attachment: fixed;
    background-color: blanchedalmond;
    text-shadow: 5px 5px 5px black;
    background-size: cover;
    }

.jumbotron h1 {
    color: blue;
    font-family: fantasy;

}

.footer {
    background-color: blanchedalmond;
}

.lead {
    font-weight: bold;
}

.navbar-brand {
    font-family: fantasy;
}