body {
    font-family: 'Segoe UI'
}

.jumbotron {
    background-attachment: fixed;
    background-color:rgb(194, 229, 250);
    background-size: cover;
}

.footer {
    text-align: center
    font-size: 12px
}